/* Write your CSS code here */
@media screen and (max-width: 576px) {
  .cart-style {
    height: 10%;
    width: 10%;
    display: flex;
    align-self: center;
    margin-top: 40px;
  }
  .Cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 576px) {
  .cart-style {
    height: 15%;
    width: 15%;
    display: flex;
    align-self: center;
    margin-top: 40px;
  }
  .Cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .cart-style {
    height: 18%;
    width: 18%;
    display: flex;
    align-self: center;
    margin-top: 40px;
  }
  .Cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
